#features{
  padding: 2rem;
}


#features,
.featureTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--liteGray);
}

.featureTitle h3 {
  margin-bottom: -1rem;
  font-weight: 500;
}

.featureTitle p {
  font-weight: 600;
  margin-bottom: 4rem;
}

.standCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  height: 500px;
  padding: 1rem;
  background-color: #ffffff;
  transition: width 0.5s ease;
  cursor: pointer;
}

.cardTitle h3,
.cardTitle p {
  font-weight: 500;
}

.featureImage {
  overflow: hidden;
  width: 200px;
  height: 300px;
  transition: width 0.5s ease;
}

.featureImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.featureImage:hover,
.card:hover {
  width: 370px;
}
.textCardsContainer{
  margin-left: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  gap:0 3rem;
  width: 70vw;
}
@media (max-width: 768px) {
      
  .textCardsContainer{
    margin: 0;
    justify-content: center;
  }

  .card {

    width: 250px;
  }
  

}
















/* #features,.featureTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--liteGray);
}

.featureTitle h3{
    margin-bottom: -1rem;
    font-weight: 500;
}
.featureTitle p{
    font-weight: 600;
    margin-bottom: 2rem;
}
.standCards{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 500px;
    padding: 1rem;
    background-color: #ffffff;
    transition: width 0.5s ease;
  }
  
 
.cardTitle h3{
    font-weight: 500;
}
.cardTitle p{
    font-weight: 500;
}
.featureImage{

    overflow: hidden; 
    width: 200px;
    height: 300px;
    transition: width 0.5s ease;


}
.featureImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featureImage:hover,.card:hover {
    width: 370px;

  }
   */