@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
:root {
  --seeBlue: #bfcfe7;
  --lightSee: #d8efef;
  --gray:#eeeeee;
  --navy:#161e31;
  --orange:#f88460;
  --liteGray:#f9f7f5;
}

h1{
font-family: Ubuntu, "times new roman", times, roman, serif;
  font-size: 48px;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
}
h3{
  font-family: 'Poppins', sans-serif;

  font-size: 24px;
}
h4{
  font-family: 'Poppins', sans-serif;

  font-size: 20px;
}
p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}